.form-group {
  margin-top: 1rem;
}

.container {
  margin-top: 2rem;
}

.deletetodo {
  float: right;
}

.edittodo {
  float: right;
  margin-right: 1rem;
}

.view-loading {
  margin-left: 50%;
  margin-left: 50%;
}
